.error {
  flex: 1;
  gap: 24px;
  display: flex;
	padding: 20px;
	margin: 0 auto;
  font-size: 22px;
	max-width: 1200px;
  align-items: center;
  color: var(--text-color);
  justify-content: center;
  flex-direction: column;
}
