:root {
	--dark-blue: hsl(209, 23%, 22%);
	--dark-blue-bg: hsl(207, 26%, 17%);
	--very-dark-blue: hsl(200, 15%, 8%);
	--dark-gray: hsl(0, 0%, 52%);
	--very-light-gray: hsl(0, 0%, 96%);
	--white: hsl(0, 0%, 100%);

	--primary-color: var(--white);
	--background: var(--very-light-gray);
	--text-color: var(--very-dark-blue);
	--input-color: var(--dark-gray);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: var(--font-nunito-sans);
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input {
	font-family: var(--font-nunito-sans);
	background-color: transparent;
	color: var(--text-color);
	outline: none;
	border: none;
}

.light_theme {
	--primary-color: var(--white);
	--background: var(--very-light-gray);
	--text-color: var(--very-dark-blue);
	--input-color: var(--dark-gray);
}

.dark_theme {
	--primary-color: var(--dark-blue);
	--background: var(--dark-blue-bg);
	--text-color: var(--white);
	--input-color: var(--very-dark-blue);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: var(--input-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}
